//- Карточка поста блога (разводящая и блок «ещё записи» на single)
//- item: { href, title, excerpt, image, imageAlt, date, readTime }
mixin BlogPostCard(item)
  article.blog-post-card&attributes(attributes)
    .blog-post-card_media
      a.blog-post-card_media-link(href=item.href aria-label=item.title)
        img.blog-post-card_media-img(
          src=item.image
          alt=item.imageAlt || item.title
          loading='lazy'
          decoding='async'
        )
    .blog-post-card_body
      h2.blog-post-card_title
        a.blog-post-card_title-link(href=item.href)= item.title
      if item.excerpt
        p.blog-post-card_excerpt= item.excerpt
      .blog-post-card_meta
        span.blog-post-card_meta-item
          img.blog-post-card_meta-icon(src='assets/img/kaifuso/icon-calendar.svg' width='16' height='16' alt='')
          span.blog-post-card_meta-text= item.date
        span.blog-post-card_meta-item
          img.blog-post-card_meta-icon(src='assets/img/kaifuso/icon-blog-clock.svg' width='16' height='16' alt='')
          span.blog-post-card_meta-text= item.readTime
      +Button('Подробнее', ['ghost-gold', 'sm'], { arrow: 'right' })(href=item.href class='blog-post-card_more')
