-
  const links = [
    {
      link: 'Цены',
      href: 'price.html',
      submenu: []
    },
    {
      link: 'Акции',
      href: 'promotions.html',
      submenu: []
    },
    {
      link: 'Спа программы',
      href: 'tsarpalata.html#spa',
      submenu: [
        {
          link: 'Спа программы',
          href: 'tsarpalata.html#spa',
        },
        {
          link: 'Спа программы',
          href: 'tsarpalata.html#spa',
        },
        {
          link: 'Спа программы',
          href: 'tsarpalata.html#spa',
        },
      ]
    },
    {
      link: 'Ресторан',
      href: 'rest.html',
      submenu: []
    },
    {
      link: 'Мероприятия',
      href: 'events.html',
      submenu: []
    },
    {
      link: 'Контакты',
      href: 'contacts.html',
      submenu: []
    },
  ]

-
  const kaifusoNav = [
    { link: 'О нас', href: 'about.html', submenu: [] },
    { link: 'Меню', href: 'menu.html', submenu: [] },
    { link: 'Афиша', href: 'events.html', submenu: [] },
    { link: 'Блог', href: 'blog.html', submenu: [] },
    { link: 'Контакты', href: 'contacts.html', submenu: [] },
  ]

mixin MenuItem(props = {})
  li.menu_item&attributes(attributes)
    if (props.href)
      a.menu_item_link(href=props.href)= props.link
    else
      span.menu_item_link= props.link
    if (props.submenu && props.submenu.length > 0)
        span.menu_item_icon
    if (props.submenu && props.submenu.length > 0)
      ul.menu-drop
        each subItem in props.submenu
          li.menu-drop__item
            a.menu-drop__link(href=subItem.href)= subItem.link

mixin MenuItemMobile(props = {}, index = 0)
  - const {link = '', href = '', submenu = []} = props || {}
  - const hasDrop = submenu && submenu.length > 0
  - const dropId = hasDrop ? `menu-drop-${index}` : ''
  li.menu_item(class=hasDrop ? 'menu_item--has-drop' : '')&attributes(attributes)
    if (href)
      a.menu_item_link(href=href)= link
    else
      span.menu_item_link= link
    if (hasDrop)
      ul.menu-drop(id=dropId role="list")
        each subItem in props.submenu
          li.menu-drop__item
            a.menu-drop__link(href=subItem.href)= subItem.link
    if (hasDrop)
      button.menu_item_icon(type="button" aria-expanded="false" aria-controls=dropId data-menu-drop-toggle aria-label="Открыть подменю")

mixin NavMain(props = {})
  - const { items = kaifusoNav } = props
  nav.nav&attributes(attributes)
    ul.menu
      each item, index in items
        +MenuItem(item)

mixin NavMobile(props = {})
  - const { items = kaifusoNav } = props
  - const yandexMaps = 'https://yandex.ru/maps/?text=%D0%9A%D1%83%D0%B7%D0%BD%D0%B5%D1%86%D0%BA%D0%B8%D0%B9%20%D0%BC%D0%BE%D1%81%D1%82%2C%206%2F3'
  nav.nav--mobile&attributes(attributes)
    ul.menu--mobile
      each item, index in items
        +MenuItemMobile(item, index)
    .nav_extras
      .nav_socials-kf
        a.nav_socials-kf_link(href='#' target='_blank' rel='noopener noreferrer nofollow' aria-label='Telegram')
          img(src='assets/img/kaifuso/icon-tg.svg' alt='')
        a.nav_socials-kf_link(href='#' target='_blank' rel='noopener noreferrer nofollow' aria-label='ВКонтакте')
          img(src='assets/img/kaifuso/icon-vk.svg' alt='')
        a.nav_socials-kf_link(href='#' target='_blank' rel='noopener noreferrer nofollow' aria-label='YouTube')
          img(src='assets/img/kaifuso/icon-youtube.svg' alt='')
      .nav_contacts
        .nav_contacts-group
          a.nav_contacts-title(href=yandexMaps target='_blank' rel='noopener noreferrer nofollow') ул. Кузнецкий мост, д.6/3
          a.nav_contacts-sub.route-link(
            href='https://yandex.ru/maps/?text=%D0%9A%D1%83%D0%B7%D0%BD%D0%B5%D1%86%D0%BA%D0%B8%D0%B9%20%D0%BC%D0%BE%D1%81%D1%82%2C%206%2F3'
            target='_blank'
            rel='noopener noreferrer nofollow'
          ) 
            span.route-link_text Построить маршрут
            span.route-link_icon(aria-hidden='true')
              img(src='assets/img/kaifuso/icon-arrow-external.svg' alt='' decoding='async')
        .nav_contacts-group
          a.nav_contacts-title(href='tel:+74957302277') 7 (495) 730 22 77
          a.nav_contacts-sub(href='mailto:info@kaifuso.rest') info@kaifuso.rest
      +Button('Забронировать', ['ghost-gold', 'md'])(class='nav_book' data-modal="modal-form" data-modal-action="toggle")

mixin NavBottom(props = {})
  - const {items = []} = props
  nav.bottom-nav&attributes(attributes)
    each item, index in items
      +BottomNavItem(item)

mixin BottomNavItem(props = {})
  - const {icon = '', text = ''} = props
  a.bottom-nav_item(href=props.href)
    .bottom-nav_item-icon
      img(src=`assets/img/${icon}.svg`, alt=`${text} Icon`)
    span.bottom-nav_item-label= props.text
