header.header
  .container.header_container
    .header_brand
      +Logo({ type: 'header' })
      .header_nav-desktop
        +NavMain()
    .header_tray
      .header_contacts
        a.header_line.header_line--phone(href='tel:+74957302277') 7 (495) 730 22 77
        a.header_line.header_line--address(
          href='https://yandex.ru/maps/?text=%D0%9A%D1%83%D0%B7%D0%BD%D0%B5%D1%86%D0%BA%D0%B8%D0%B9%20%D0%BC%D0%BE%D1%81%D1%82%2C%206%2F3'
          target='_blank'
          rel='noopener noreferrer nofollow'
        ) ул. Кузнецкий мост, д.6/3
        +Button('Забронировать', ['ghost-gold', 'md'])(data-modal='modal-form' data-modal-action='open' class='header_booking')
      a.header_iconbtn.header_iconbtn--phone(
        href='tel:+74957302277'
        aria-label='Позвонить'
      )
        svg.header_iconbtn_icon(width='20' height='20' viewBox='0 0 20 20' fill='none' xmlns='http://www.w3.org/2000/svg' aria-hidden='true' focusable='false')
          path(d='M17.5 14.1V16.6C17.501 16.832 17.4534 17.0617 17.3603 17.2742C17.2672 17.4868 17.1306 17.6776 16.9594 17.8344C16.7881 17.9912 16.5859 18.1106 16.3658 18.1849C16.1457 18.2592 15.9124 18.2868 15.6808 18.2658C13.1185 17.9874 10.6573 17.1119 8.49583 15.7092C6.48464 14.4307 4.77929 12.7253 3.50083 10.7142C2.09309 8.54292 1.21744 6.06959 0.944167 3.49584C0.92325 3.265 0.950538 3.03247 1.02437 2.81293C1.0982 2.5934 1.21686 2.39163 1.37271 2.22045C1.52856 2.04927 1.71823 1.91244 1.92977 1.81836C2.14131 1.72427 2.37006 1.67503 2.60167 1.67334H5.10167C5.50627 1.66935 5.89854 1.81264 6.20546 2.07636C6.51238 2.34009 6.71325 2.7064 6.77 3.10834C6.87575 3.91091 7.07178 4.69909 7.355 5.45667C7.46743 5.75571 7.4918 6.08068 7.42531 6.39314C7.35882 6.7056 7.20416 6.99248 6.97917 7.22001L5.92167 8.27751C7.10692 10.3651 8.83492 12.0931 10.9225 13.2784L11.98 12.2209C12.2075 11.9959 12.4944 11.8412 12.8069 11.7747C13.1193 11.7082 13.4443 11.7326 13.7433 11.845C14.5009 12.1283 15.2891 12.3243 16.0917 12.4301C16.4979 12.4873 16.8675 12.6917 17.131 13.0042C17.3946 13.3167 17.5347 13.7152 17.5 14.1233V14.1Z' stroke='currentColor' stroke-width='1.5' stroke-linecap='round' stroke-linejoin='round')
      button.header_burger.header_burger--site.burger.burger--kf(
        type='button'
        data-modal='site-menu'
        data-modal-action='toggle'
        aria-label='Открыть меню сайта'
      )
        span.header_burger_inner
          span.burger_item
          span.burger_item
          span.burger_item
      button.header_burger.header_burger--mobile.burger.burger--kf(
        type='button'
        data-modal='mobile-menu'
        data-modal-action='toggle'
        aria-label='Открыть мобильное меню'
      )
        span.header_burger_inner
          span.burger_item
          span.burger_item
          span.burger_item
